#  Secrets 
.env
.env.*
!.env.example
*.env.local

#  Python 
venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg

#  Node / Frontend 
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#  Logs 
logs
*.log
!docs/preuve-execution/console-output.log

#  Bases & états d'exécution 
*.sqlite3
*.db
mosquitto/data/
mosquitto/log/

#  Sorties pipeline / CI-CD 
rapports/
artefacts/

#  Node-RED 
node-red/data/node_modules/
node-red/data/lib/
node-red/data/flows_cred.json

#  Éditeurs / OS 
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?
.DS_Store
Thumbs.db

#  Autres 
dist/
build/
.eggs/